/* generales */
$color-fondo: #CDB4DB;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%titulo-centro {
  text-align: center;
  margin: 0 auto;
  display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* header */
.logo {
  width: 110px;
}

.header-bg {
  background-color: $color-fondo;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 0%;
  padding: 0;

  ul {
    li {
      margin-right: 3rem;
    }
  }
}

.nav-item {
  background-color: #ffe5ec;
  border-radius: 10rem;
  font-size: 2rem;
  text-align: center;
}

/* main index */
.slide {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  max-height: 40rem;
  height: auto;
  position: relative;
  overflow: hidden;
}

.subtitulo div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 40rem;
}

.main-texto {
  position: absolute;
  top: 0;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  margin-top: 2rem;
  color: #212529;
  text-decoration: overline;

  h1, h3 {
    background-color: $color-fondo;
    border-radius: 10rem;
  }

  h1 {
    font-family: "Dancing Script", cursive;
    font-size: 6rem;
    margin: 0 auto;
  }

  h3 {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
  }
}

/* main nosotros */
section div h3 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.nosotros {
  background-color: #ffe5ec;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0 2rem; 
  p {
    margin-bottom: 0;
  }
}
.nosotros-link {
  display: block;
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}
.nosotros-section {
  background-color: $color-fondo;
  padding: 3rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
  min-height: calc(100vh - 15rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h2 {
    @extend %titulo-centro;
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #212529;
  }

  p {
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
    line-height: 1.8;
    color: #212529;
    margin-bottom: 2rem;
  }

  .row {
    margin-top: 3rem;

    .col-md-6 {
      img {
        border-radius: 1rem;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }

      h3 {
        font-family: "Dancing Script", cursive;
        font-size: 3rem;
        margin-bottom: 1rem;
        text-align: center;
        color: #212529;
      }

      p {
        font-family: "Playfair Display", serif;
        font-size: 1.6rem;
        text-align: justify;
        color: #212529;
      }
    }
  }
}


/* especialidades */
.especialidades {
  display: flex;
  gap: 8rem;
  justify-content: center;
  background-color: $color-fondo;
  padding: 3rem;
  margin-bottom: 0;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 3rem;

  div img {
    width: 30rem;
  }
}

/* productos */
.catalogo-titulo {
  @extend %titulo-centro;
  background-color: #ffcdb2;
  margin-bottom: 0;
  padding: 1rem;
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
}

.catalogo {
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
    background-color: #ffcdb2;
    padding: 2rem;

    div {
      @include flex-center;
      flex-direction: column;
      border-radius: 1rem;
      padding: 1rem;
      background-color: #ffcdb2;
    }

    img {
      width: 100%;
      max-width: 30rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 0.5rem;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  h3 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}
/* ofertas */
.ofertas-text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}


/* sección comprar */
.form {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  background-color: #FFB4A2;
  padding: 4rem;
  font-size: 1.8rem;
  margin: 0 auto;
  max-width: 800px;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  legend {
    text-align: center;
    font-weight: 500;
    font-size: 3.5rem;
    font-family: "Dancing Script", cursive;
    color: #212529;
    margin-bottom: 2rem;
  }

  div {
    margin-bottom: 1.5rem;

    label {
      display: block;
      font-size: 1.6rem;
      font-weight: bold;
      color: #212529;
      margin-bottom: 0.5rem;
    }

    input[type="text"],
    input[type="telefono"] {
      width: 100%;
      padding: 1rem;
      font-size: 1.5rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      outline: none;
      transition: border-color 0.3s;

      &:focus {
        border-color: #ff7f50;
      }
    }
  }

  input[type="submit"] {
    background-color: #e63946;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #d62828;
    }
  }
}

/* sección de promociones */
.promocion {
  @include flex-center;
  flex-direction: column;
  margin-top: 3rem;

  .img-ofertas {
    width: 100%;
    max-width: 600px;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
  }
}
body {
  font-family: "Playfair Display", serif;
  color: #212529;
  background-color: #ffe5ec;
}

h1, h2, h3 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  margin-bottom: 1.5rem;
}

footer {
  margin-top: 3rem;
  background-color: #ff7f50;
  color: #fff;
  padding: 2rem;
  text-align: center;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* footer */
.footer {
  @include flex-center;
  background-color: #ffe5ec;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}
/*keyframes */

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}


/* media queries */

/* Media query (Tablet) */
@media (max-width: 1024px) {
  .nav-item {
    text-align: center;
  }

  .navbar-nav {
    gap: 1rem;
    width: 50%;
    margin-right: 15%;
    margin-left: 25%;
  }

  .especialidades {
    gap: 4rem;
  }

  .catalogo {
    section {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    img {
      max-width: 25rem;
      height: 18rem;
    }
  }
  /*nosotros*/
  .nosotros-section {
    p {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
    }
  }
}

/* Media query (Celular) */
@media (max-width: 768px) {
  
  /* nav */
  .nav-item {
    text-align: center;
  }

  .navbar-nav {
    gap: 1rem;
    width: 50%;
    margin-right: 15%;
    margin-left: 25%;
  }

  /* header */
  .main-texto {
    h1 {
      font-family: "Dancing Script", cursive;
      font-size: 2rem;
      background-color: $color-fondo;
      border-radius: 5rem;
    }

    h3 {
      font-family: "Playfair Display", serif;
      font-size: 1.2rem;
      background-color: $color-fondo;
      border-radius: 5rem;
    }
  }

  /* especialidades */
  .especialidades {
    gap: 2rem;
    flex-wrap: wrap;
  }

  /* catalogo */
  .catalogo {
    section {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }

    img {
      width: 90%;
      height: auto;
    }
  }
  /*nosotros */
  .nosotros-section {
    p {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      padding: 0 1rem;
    }
  }
}

